body{
    text-align: center;
    color:cadetblue
}

.container{
    width:1100px;
    margin: auto;
}

.header_section{
  margin: 25px 0 50px 0;
  border: 1px solid;
}

li{
  list-style-type: none;
}


td{
    border: 1px solid;
}

.cars {
    border-collapse: collapse;
    /* width: 100%; */
  }
  
  .cars td, 
  .cars th {
    border: 1px solid #c1c7c5;
    padding: 8px;
  }
  
  .cars th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c1c7c5;
    color: white;
  }

  /* Media Queries */
  @media screen and (max-width: 600px) {
    .full-width-mobile{
      width: 100%;
    }
    
  }

  /* table{
    display: inline-block;
  } */